:root{
  /*Font sizes*/
  --font-mobile-big: calc(2rem + 2vw);
  --font-mobile-medium: calc(1.25rem + 1.25vw);
  --font-mobile-small: calc(0.80rem + 0.80vw);
  --font-mobile-smallest : calc(0.75rem + 0.75vw);
  /*Colors*/
  --background-color: hsl(240, 1%, 13%);
  --primary-color: hsl(265, 35%, 40%);
  --secondary-color: rgb(255, 152, 0);
  --contrast-color: hsl(330, 80%, 30%); 
  --font-color: rgb(230, 226, 239);
  --font-aux-color: hsl(0, 1%, 13%); 
  /*hsl(300, 2%, 11%)*/
}

*{
  
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 200ms;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}
  

html{
  background-color: var(--background-color);
}

.contrast{
  color:var(--contrast-color)
}

a{
  color: var(--font-color);
  text-decoration: none;
  appearance: none;
  padding: 0.75rem;
}


#header{
    width:100vw;
   
    max-height: 17vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    padding: 1% 7%;
    z-index: 999;
    background-color: var(--primary-color);
}



#header i{
  font-size: var(--font-mobile-medium);
}

#header-img{
  max-width: calc(20%);
  object-fit: contain;
  aspect-ratio: 16/9;
}


  
#nav-bar{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  right: -300px;
  height: 100vh;
  width: 300px;  
  background-color: var(--secondary-color);
  box-shadow: 0 40px 60px rgba(70, 62, 221, 0.1);
  padding: 80px 0 0 10px;
  transition: 0.3s ease;
}
  
#nav-bar.active{
  right: 0;
}

#nav-bar a{
  font-size: var(--font-mobile-small);
}

#nav-bar i{
 font-size: var(--font-mobile-small);  
 font-weight: bold;
}

#nav-bar a:hover, #nav-bar i:hover, .mobile i:hover{
  color:var(--font-color)
}

main{
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
    position: relative;
    margin: 19vh 0;
  
}

main section{
  display: flex;
  margin: 0 0 5vh;
}

/*Hero styling*/

#hero{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--background-color);
  color: var(--font-color);
  width: 100%;
  height: 90vh;
  min-height: 400px;
  gap:1rem;
  padding: 0 10%;
}

#hero p{
  font-size: var(--font-mobile-small);
}

#hero h1{
  font-size: var(--font-mobile-big);
  color: inherit;
}

#hero a{
  background-color: var(--contrast-color);
  font-weight: 500;
  color: var(--font-color);
  font-size: var(--font-mobile-small);
  border: 0.5px solid transparent;
}

#hero a:hover{
  color: var(--font-color);
  background-color: var(--background-color);
  border: 0.5px solid var(--font-color);
}

/*about styling*/

#about{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--primary-color);
  width: 100%;
  padding: 5% 15%;
  gap: 2rem;
}

#about h2, #about p{
  color: var(--font-color);
}
#about h2{
  font-size: var(--font-mobile-big);
}


.about-content{
  width: 60%;
}

.about-deco{
  z-index: 1;
  position: absolute;
  top: 0px;
  right: 9vw;
  display: flex;
  gap: 15%;
 
}
.about-deco-stripe{
  position: relative;
  width: var(--font-mobile-big);
  height: var(--font-mobile-big);
  background-color: var(--background-color);
  border-radius: 0px 0px 30px 30px;
}

.about-deco-stripe:nth-child(2){
  height: calc(2 * var(--font-mobile-big));
}
.about-deco-stripe:nth-child(3){
  height: calc(3 * var(--font-mobile-big));
}


/*about bottom lines style*/
#about .services-deco{
  justify-content: center;
  width: 100%;
  height: 4vh;
  bottom: 0;
  left: 0;
  z-index:0;
  gap: 4%;
}
#about .services-deco .services-deco-stripes{
  width: 5.6%;
  height: 80vh;
}

 /*Services styling*/
#services{
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color);
  gap: 4rem;
  padding: 5% 0 10%;
}

#services-title{
  z-index: 999;
  text-indent: -0.15rem;
  font-size: var(--font-mobile-big);
  color: var(--font-color);
}

.services-container{
  position: relative;;
  border-radius: 50px;
  padding: 5%;
  text-align:left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  line-height: 1.5rem;
  width: 60%;
  
  background-color: var(--primary-color);
  color:var(--font-color);
}


.services-container h4, p, ul, li{
  line-height: 1.75rem;
  color: inherit;
}
  
.services-container h4{
  font-size: var(--font-mobile-medium);
}

.services-container ul{
  max-width: 80%;
  
}

.services-container ul li{
  padding:0.5em 0;
  
}

.services-container li,p{
  font-size: var(--font-mobile-small);
}

.services-container p:last-child{
  background-color: var(--contrast-color);
  padding: 5%;
  font-weight: 500;
  border-radius: 10px;
}
.services-container p:last-child:hover{
  background-color: var(--background-color);
}

.services-container img{
  border-radius: 30px;
  width: 50%;
  object-fit: contain;
}

  
.services-deco{
  display: flex;
  justify-content: space-evenly;
  
  position: absolute;
  width: 50%;
  height: 1%;
  background-color: black;
  bottom: 0;
  border-radius: 10px 10px 0 0;
}
.services-deco-stripes{
  position: relative;
  height: 40vh;
  width: 17%;
  background-color: inherit;
  border-radius: 0 0 20px 20px;
}

/* .services-deco-stripes:nth-child(2){
  height: 6vw;
}
.services-deco-stripes:nth-child(3){
  height: 6vw;
} */
.services-deco-top{
  position: absolute;
  width: 50%;
  height: 1%;
  background-color: black;
  top: 0;
  border-radius: 0px 0px 10px 10px;
}

/*CONTACT section*/
#contact{
  position: relative;
  background-color: var(--primary-color);
  color: white;
  flex-direction: column;
  align-items: flex-end;
  text-align: center;
  gap:1.5rem;
  padding: 5% 15%;
  width: 100%;
  height: auto;
}

#contact h2{
  font-size: var(--font-mobile-big);
}

#contact p, h2{
  font-size: var(--font-mobile-small);
}

.contact-container-button{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}



.contact-container-button button{
  font-size: var(--font-mobile-small);
  cursor: pointer;  
  color: var(--font-color);
  background-color: var(--contrast-color);
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  width: 20vw;
}

.contact-container-button button:hover{
  background-color: var(--background-color);
}

.contact-hours{
  display: flex;
  flex-direction: column;
  text-align: right;
}

#contact .about-deco{
  right: unset;
  left: 15vw;
  
}



#contact .about-deco-stripe{
  border-left: solid 1.5px gray;
  border-right: solid 0px gray;
}

#contact .about-deco-stripe:nth-child(3){
  height: calc(1 * var(--font-mobile-big));
}

#contact .about-deco-stripe:nth-child(2){
  height: calc(2 * var(--font-mobile-big));
}
#contact .about-deco-stripe:nth-child(1){
  height: calc(3 * var(--font-mobile-big));
}
#contact .stripe-deco-top{
  position: absolute;
  width: 100vw;
  height: 5%;
  background-color: black;
  top: 0;
  left: 0;
  border-radius: 0px 0px 10px 10px;
}
  

  

  
  @media only screen and (min-width: 700px){
    
}